body {
  background-color: rgb(167, 171, 175);
}

.tables {
  width: 50%;
  height: auto;
  border: 2px solid #000;
  position: relative;
  left: 25%;
  margin-top: 20px;
  margin-bottom: 20px;
}

tr {
  border: 1px solid #000;
  height: 40px;
  background-color: rgb(199, 193, 193);
}

td {
  font-size: 15px;
}

.remove-btn {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  text-decoration: none;
  padding: 3px;
}

.remove-btn:hover {
  background-color: #05052e;
  color: #fff;
}

.line {
  width: 20%;
  margin: 40px 40% 20px 40%;
  height: 2px;
  background-color: #05052e;
  align-items: center;
}

.add-book-form {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 30%;
  position: relative;
  left: 35%;
}

h2 {
  text-align: center;
}

.submit-btn {
  width: 35%;
  position: relative;
  left: 65%;
  background-color: #7a7ac2;
}

@media (min-width: 790px) {
  .submit-btn {
    width: 20%;
    position: relative;
    left: 80%;
  }

  td {
    font-size: 20px;
  }

  .line {
    width: 14%;
    margin: 40px 43% 20px 43%;
  }
}
