body {
  background-color: rgb(167, 171, 175);
}

.tables {
  width: 50%;
  height: auto;
  border: 2px solid #000;
  position: relative;
  left: 25%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.nar-bar{
  position: fixed;
  width: 100%;
}
.nav-bar-list{
  background-color: #4949d4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: #000;
  position: relative;
  padding: 0 5%;
  height: 50px;
  align-items: center;
}

.nav-list{
  list-style: none;
  display: flex;
  flex-direction: row;
  float: right;
  gap: 30px;
  /* align-items: center; */
}

tr {
  border: 1px solid #000;
  height: 40px;
  background-color: rgb(199, 193, 193);
}

td {
  font-size: 15px;
}

.remove-btn {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  text-decoration: none;
  float: right;
  padding: 3px;
  margin-right: 5%;
}

.remove-btn:hover {
  background-color: #05052e;
  color: #fff;
}

.line {
  width: 20%;
  margin: 40px 40% 20px 40%;
  height: 2px;
  background-color: #05052e;
  align-items: center;
}

.add-book-form {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 30%;
  position: relative;
  left: 35%;
}

h2 {
  text-align: center;
}

.submit-btn {
  width: 35%;
  position: relative;
  left: 65%;
  background-color: #7a7ac2;
}

/* contact section */

.contact-section {
  align-items: center;
  margin: 40px 30%;
}

.contact-paragraph{
  margin-top: 50px;
}

/* footer */

footer {
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #4949d4;
  display: flex;
  position: fixed;
  height: 50px;
  align-items: center;
  justify-content: center;
}

@media (min-width: 790px) {
  .submit-btn {
    width: 20%;
    position: relative;
    left: 80%;
  }

  td {
    font-size: 20px;
  }

  .line {
    width: 14%;
    margin: 40px 43% 20px 43%;
  }
}
